In [1]:
#importing all the dependencies
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#creating a pandas dataframe
df=pd.read_csv('creditcard.csv')

In [4]:
#first 5 rows of df
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.describe().mean()

Time      109764.375691
V1         35594.427437
V2         35594.782996
V3         35596.236238
V4         35602.435362
V5         35591.163075
V6         35606.853684
V7         35610.665726
V8         35594.390740
V9         35601.270272
V10        35600.883913
V11        35601.898312
V12        35599.689572
V13        35601.166334
V14        35599.923652
V15        35601.551015
V16        35601.397898
V17        35598.973789
V18        35600.422353
V19        35600.774859
V20        35599.069118
V21        35600.004439
V22        35600.911079
V23        35598.164967
V24        35601.184936
V25        35600.599454
V26        35601.032106
V27        35602.058962
V28        35603.223046
Amount     38867.674341
Class      35601.005407
dtype: float64

In [7]:
#data processing and cleaning
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

This shows that there are no null values in the df

In [9]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

Unreasonably large dataset, will need to shorten the dataset.
1--> Fraud Transactions
0--> Legit Transactions

In [10]:
#dividing data into legit transactions and fraud transactions
legit_tr=df[df.Class==0]
fraud_tr=df[df.Class==1]

In [12]:
legit_tr.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [13]:
fraud_tr.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1

In [15]:
legit_tr.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud_tr.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

Now we perform undersampling, that is taking a sample from the already avaialable data which can help in training our model more efficiently.

In [17]:
#Undersampling
legit_sample=legit_tr.sample(n=500)

In [18]:
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
204492,135305.0,-0.664675,0.473824,-0.280369,-0.017295,1.791727,4.590149,-0.461091,1.584662,-0.260369,...,0.447188,1.106613,0.037829,0.710037,-0.215591,-0.322289,0.115146,0.129777,99.00,0
256210,157585.0,-0.020967,0.888701,0.666262,-0.374798,-0.029303,-1.633852,1.037940,-0.266924,-0.110739,...,-0.200704,-0.404584,0.182773,0.924858,-0.606731,0.082808,0.248078,0.106635,4.49,0
196916,131756.0,1.949248,-0.699778,-1.811770,-0.792518,1.792037,3.722860,-1.062060,0.998067,0.865281,...,-0.251567,-0.788586,0.462543,0.691118,-0.617966,0.250968,-0.024136,-0.046257,29.95,0
278581,168305.0,-0.806280,1.689921,-1.458634,-1.604194,1.557634,-0.703787,1.584830,-0.219736,0.024560,...,0.103403,0.863421,-0.302188,0.138480,-0.102402,0.032145,0.250295,-0.067968,1.46,0
181252,124891.0,2.154788,-0.864584,-1.038386,-1.009036,-0.549744,-0.341809,-0.751401,-0.027297,-0.447265,...,0.243163,0.701227,0.186003,0.727907,-0.088186,-0.211955,-0.022211,-0.060474,10.00,0

In [20]:
new_df=pd.concat([legit_sample,fraud_tr])

In [21]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
204492,135305.0,-0.664675,0.473824,-0.280369,-0.017295,1.791727,4.590149,-0.461091,1.584662,-0.260369,...,0.447188,1.106613,0.037829,0.710037,-0.215591,-0.322289,0.115146,0.129777,99.00,0
256210,157585.0,-0.020967,0.888701,0.666262,-0.374798,-0.029303,-1.633852,1.037940,-0.266924,-0.110739,...,-0.200704,-0.404584,0.182773,0.924858,-0.606731,0.082808,0.248078,0.106635,4.49,0
196916,131756.0,1.949248,-0.699778,-1.811770,-0.792518,1.792037,3.722860,-1.062060,0.998067,0.865281,...,-0.251567,-0.788586,0.462543,0.691118,-0.617966,0.250968,-0.024136,-0.046257,29.95,0
278581,168305.0,-0.806280,1.689921,-1.458634,-1.604194,1.557634,-0.703787,1.584830,-0.219736,0.024560,...,0.103403,0.863421,-0.302188,0.138480,-0.102402,0.032145,0.250295,-0.067968,1.46,0
181252,124891.0,2.154788,-0.864584,-1.038386,-1.009036,-0.549744,-0.341809,-0.751401,-0.027297,-0.447265,...,0.243163,0.701227,0.186003,0.727907,-0.088186,-0.211955,-0.022211,-0.060474,10.00,0

In [22]:
new_df['Class'].value_counts()

Class
0    500
1    492
Name: count, dtype: int64

In [23]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95386.782000,0.005697,0.085441,0.021862,-0.054113,0.124821,0.041050,0.062307,0.068321,-0.016218,...,-0.059243,-0.008345,0.001074,0.013365,0.013084,0.020897,-0.003475,-0.014676,0.001936,67.145820
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [25]:
X=new_df.drop(columns='Class',axis=1)
Y=new_df['Class']

In [28]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
204492,135305.0,-0.664675,0.473824,-0.280369,-0.017295,1.791727,4.590149,-0.461091,1.584662,-0.260369,...,0.134436,0.447188,1.106613,0.037829,0.710037,-0.215591,-0.322289,0.115146,0.129777,99.00
256210,157585.0,-0.020967,0.888701,0.666262,-0.374798,-0.029303,-1.633852,1.037940,-0.266924,-0.110739,...,-0.062669,-0.200704,-0.404584,0.182773,0.924858,-0.606731,0.082808,0.248078,0.106635,4.49
196916,131756.0,1.949248,-0.699778,-1.811770,-0.792518,1.792037,3.722860,-1.062060,0.998067,0.865281,...,-0.067880,-0.251567,-0.788586,0.462543,0.691118,-0.617966,0.250968,-0.024136,-0.046257,29.95
278581,168305.0,-0.806280,1.689921,-1.458634,-1.604194,1.557634,-0.703787,1.584830,-0.219736,0.024560,...,0.417929,0.103403,0.863421,-0.302188,0.138480,-0.102402,0.032145,0.250295,-0.067968,1.46
181252,124891.0,2.154788,-0.864584,-1.038386,-1.009036,-0.549744,-0.341809,-0.751401,-0.027297,-0.447265,...,-0.021424,0.243163,0.701227,0.186003,0.727907,-0.088186,-0.211955,-0.022211,-0.060474,10.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [36]:
Y

204492    0
256210    0
196916    0
278581    0
181252    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 992, dtype: int64

Now we use scikit lab's built in module to split our data in train test. Stratify is used to order data accordingly in and ordered manner.

In [30]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.1,stratify=Y,random_state=1)

In [34]:
X_train.shape

(892, 30)

In [33]:
X_test.shape

(100, 30)

Now we train the model

In [40]:
#Training the model
model=LogisticRegression(max_iter=1000)

In [41]:
#fitting the data
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

In [43]:
X_train_predict=model.predict(X_train)
X_train_score=accuracy_score(X_train_predict,Y_train)

In [44]:
#checking score
X_train_score

0.9495515695067265

In [46]:
#evaluating test data
X_test_predict=model.predict(X_test)
X_test_score=accuracy_score(X_test_predict,Y_test)

In [47]:
X_test_score

0.94